        nav span{
            position: absolute;
            top: 50%;
            height: 40px;
            width: 40px;
            background-color: #d64760;
            cursor: pointer;
        }
        nav span:after{
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            top: 10px;
            left: 10px;
            background: transparent url("../../images/arrows.png") no-repeat;
        }
        nav span.nav-previous:after{
            background-position:top left
        }   
        nav span.nav-next:after{
            background-position:top right
        }       


        .custom-poptrox-popup{
            text-transform: none;
            color: #888;
            background-color:white
        }    
        .custom-poptrox-popup div.pic{
            width: 100%;
        }
        .custom-poptrox-popup div.pic iframe,img{
            width: 100% !important;
        }
        .popupContent{
            height:100%;
            overflow:auto;
            padding:65px
        }
        .popupContent h2{
            color: #777;
            font-size: 46px;
            white-space: nowrap;
            font-weight: 300;
            font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;
            line-height: 1.1;
        }

        .popupContent h3{
            color: #777;
            font-size: 32px;
            white-space: nowrap;
            font-weight: 300;
            font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;
            line-height: 1.5;
        }
        .popupContent h3 span{
            padding-bottom: 5px;
            margin-bottom: 5px;
            border-bottom: 2px solid #eee;
        }
        .popupContent p{
            color: #888;
            font-size: 15px;
            line-height: 26px;
            overflow: hidden;
            font-weight: 400;
            font-style: italic;
            margin-bottom:15px;
        }

        /*custom popup layout*/
        .popupContent .main {
            margin:20px 0px;
        }
        .popupContent .main .left {
            width:35%; 
            float:left; 
            padding:10px; 
            background:green;
        }
        .popupContent .main .center {
            width:30%; 
            /*float:left; */
            margin:0 auto;
            padding-left:10px; 
            padding-right:10px; 
            padding-bottom:10px; 
        } 
        .popupContent .main .right {
            width:35%;  
            float:right; 
            padding:10px; 
            background:orange;
        }

        .popupContent .main .clearfloat {
            clear:both;
            height:1px;
            overflow:hidden;
            margin-top:-1px;
        }
        /*custom popup layout*/